/* Styles for favourites-table */

.pbmytd-table table.extstats-table tfoot ul.pagination li:not(.active) a:hover {
  background-color: #ddd;
}
.pbmytd-table table.extstats-table tfoot ul.pagination li.active a {
  background-color: green;
  color: white;
}

.pbmytd-table table.extstats-table td,
.pbmytd-table table.extstats-table tbody,
.pbmytd-table table.extstats-table thead,
.pbmytd-table table.extstats-table.table thead th {
  border-color: #cdda49;
}
.pbmytd-table table.extstats-table {
  border-collapse: collapse;
}
/* border colour modified to 16 saturation */
.pbmytd-table table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: rgba(192, 201, 248, 0.5);
}
.pbmytd-table table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: white;
}

.table-button {
  border: solid 2px #fd9727;
  margin: 4px;
  height: 32px;
}
.table-button.svg-button {
  padding: 4px;
  width: 32px;
}
.pbmytd-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #fd9727;
}
.pbmytd-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.pbmytd-table div.collapse {
  margin-top: 1rem;
}

.chart-button {
  border: solid 2px #617d8a;
  margin: 4px;
  height: 32px;
}
