<div class="extstats-login-logout">
    <div class="extstats-login">
        <button id="btn-login" class="btn btn-primary btn-margin extstats-login-btn" onclick="window.loginButton.login()">
            Log In
        </button>
    </div>

    <div id="extstats-logout" class="extstats-logout">
        <button id="btn-logout" class="btn btn-primary btn-margin extstats-login-btn" onclick="window.loginButton.logout()">
            Log Out
        </button>
        <span><a id="user-link" href="/user.html"></a></span>
    </div>
</div>
<style>
    .extstats-login-logout {
        float: right;
        z-index: 1;
    }
    .extstats-login button,
    .extstats-logout button {
        border: 2px transparent solid;
        margin: 2px;
        height: 32px;
        width: 100px;
        font-size: 18px;
        text-align: center;
        border-radius: 0;
        line-height: 18px;
    }
    .extstats-login button:hover,
    .extstats-logout button:hover {
        border: 2px black solid;
    }
</style>
