<!DOCTYPE html>
<html lang="en">

<head>
    {{> gtmhead}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="navbar.min.css">

    {{> adsplaceholder}}
    {{> loginhead}}

    <title>Extended Stats Data Policy</title>
</head>

<body>
{{> gtmbody}}
<main role="main">
    <div class="container">
        {{> navbar}}
        <a name="privacyes"><h2>The Extended Stats Privacy Policy</h2></a>
        <p>
            Extended Stats gathers publically available data from boardgamegeek.com, including data about specific users of that site.
            If you are a user of boardgamegeek.com and you no longer wish Extended Stats to gather your data, please send a private message to Friendless on boardgamegeek.com and request that your data no longer be gathered.
            When you are removed from <a href="https://pastebin.com/REGME8sF">the list of BoardGameGeek.com users</a>, all data in the Extended Stats database regarding that user will be deleted.
        </p>
        <a name="privacydf"><h2>The DrFriendless.com Privacy Policy</h2></a>
        <p>
            If you create an account on drfriendless.com, DrFriendless also holds data about you as a user of drfriendless.com.
            (something about a user page which doesn't exist yet)
        </p>
        <a name="gdpr"><h2>General Data Protection Regulations</h2></a>
        <p>

        </p>
    </div>
</main>
</body>

{{> infrastructure}}
</html>
