<!DOCTYPE html>
<html lang="en">

<head>
    {{> gtmhead}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="theme.css">
    {{> adsbygoogle}}

    <title>Your Favourite Games - Extended Stats</title>
</head>

<body>
{{> gtmbody}}
{{> navbar}}
<h1>Your Favourite Games</h1>

<extstats-favourites></extstats-favourites>

{{> infrastructure}}
<script src="favouritesWidget/runtime.js" type="text/javascript"></script>
<script src="favouritesWidget/polyfills.js" type="text/javascript"></script>
<script src="favouritesWidget/main.js" type="text/javascript"></script>
</body>

</html>
