<!DOCTYPE html>
<html lang="en">

<head>
    {{> gtmhead}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="theme.css">
    <link rel="stylesheet" href="monthlyWidget/styles.css">

    {{> adsbygoogle}}
    {{> loginhead}}

    <title>Extended Stats Plays By Month</title>
</head>

<body>
{{> windowhack}}
{{> gtmbody}}

<main role="main">
    <div class="container">
        {{> navbar}}
        {{> loginButton }}
        <h1>Plays By Month</h1>

        <monthly-plays></monthly-plays>
    </div>
</main>
</body>

{{> infrastructure}}
<script src="monthlyWidget/runtime.js" type="text/javascript"></script>
<script src="monthlyWidget/polyfills.js" type="text/javascript"></script>
<script src="monthlyWidget/main.js" type="text/javascript"></script>
</html>
