body {
    background-color: #fff;
}

.table.extstats-table td, .table.extstats-table th {
    padding: 0 4px;
    border-top: 0;
}
.table.extstats-table, div.extstats-doc {
    border-collapse: collapse;
    margin: 0;
    width: 95%;
    border: none;
}
.table.extstats-table thead td,
.table.extstats-table tbody td,
.table.extstats-table tbody,
.table.extstats-table thead,
.table.extstats-table thead th {
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
}
.table.extstats-table tfoot {
    border: 0;
}
.table.extstats-table tfoot td {
    padding-top: 1rem;
}

/* pagination */

ul.pagination {
    list-style: none;
    display: inline-block;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    text-align: center;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
}

/* documentation widgets */
div.extstats-doc {
    margin-bottom: 1rem;
    font-size: 14px;
}
button.extstats-button,
div.extstats-doc button {
    color: #777777;
    font-size: 14px;
    line-height: 18px;
    background-color: white;
    border-radius: unset;
}

h1 {
    margin-top: 30px;
}
h2 {
    margin-top: 20px;
}
.mat-form-field-underline {
    display: none;
}

.extstats-table-block {
    display: inline-block;
}
.extstats-table-controller {
    height: 40px;
    width: 100%;
}
div.extstats-table-controller {
    border-bottom: 1px solid white;
}
.extstats-table-controller mfPaginator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}
.extstats-table-controller .help {
    display: inline-block;
    flex-grow: 0;
    height: 100%;
    margin-left: 8px;
    margin-right: 4px;
}
.extstats-table-controller input {
    margin-top: 4px;
}
.extstats-pagination {
    display: inline-block;
    flex-grow: 0;
    height: 100%;
}
.filler {
    flex-grow: 1;
}
.extstats-page-item {
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
}
.extstats-page-item:hover {
    color: black;
    background-color: white;
}
.extstats-page-item:hover a.extstats-page-link {
    color: black;
}