<!DOCTYPE html>
<html lang="en">

<head>
    {{> gtmhead}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="theme.css">

    {{> adsbygoogle}}

    <title>Welcome to Extended Stats 2</title>
</head>

<body>
{{> gtmbody}}
<main role="main">
    <div class="container">
        <h1>Welcome to Extended Stats 2</h1>
        <P>
            If you received a link to this page from me, it's because I've added you as a user to the All-New Completely-Useless-So-Far Extended Stats 2.
        </P>
        <P>
            First of all, let me explain why there has to be an Extended Stats 2.
            The original Extended Stats evolved from being a nightly batch job that ran on my PC was uploaded to some hosting site, to a relatively proper web site running on my PC.
            It's currently running on my PC in my study, in Sydney, Australia.
        </P>
        <P>
            That was all well and good when the site had just a few users, but it's currently approaching 3000 and there is no end in sight to the growth.
            However since we moved to Sydney 3 years ago, we have had a somewhat worse internet connection from home, and I know that one day the site will outgrow my study.
            These days we use the internet for TV, Playstation, both of working from home, and Extended Stats.
            Now our usage is at the point where we sometimes exceed our quota, and there just is no option to buy more.
            Well, there may be shortly, but if you have been following Australia's National Broadband Network saga you'll know that people in Australia don't always get the internet they pay for.
            But the TL;DR is that Extended Stats has to get out of the house.
        </P>
        <P>
            Luckily, there's cloud computing.
            I experimented with hosting Extended Stats in the cloud in 2015 before we moved house, and it kinda worked but it cost money which I didn't have for a while.
            Then at the start of 2017 I got a job developing a web site which was hosted on Amazon Web Services (and my experience doing Extended Stats did indeed help me get that job).
            Although that job took a lot of my time, as I didn't know all of the technologies I was using, I learnt an amazing lot of things, and learned a lot about web development and cloud development.
            And although I didn't have time to work on Extended Stats for a long time, I was wondering in the back of my mind how I should do it properly.
        </P>
        <P>
            So at last, here is Extended Stats 2, or Extended Stats Serverless as I call it.
            If you've heard of the Serverless framework, you'll understand what I'm doing.
            The PC in my study will be replaced by millions of tiny fragments of code running at Amazon.
            With any luck this will happen almost for free but I'll be sure to let you know if it doesn't :p.
        </P>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>The Blog</h2>
                <p>While I'm building the site, stuff will change. Maybe even some things will get better. Follow the blog to keep up-to-date.</p>
                <p><a class="btn btn-secondary" href="http://blog.drfriendless.com/blog" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>The War Table</h2>
                <p>lnk to the wat tabke</p>
                <p><a class="btn btn-secondary" href="/wartable.html" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Heading</h2>
                <p>something soethin something.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
</main>
</body>

</html>
