/* You can add global styles to this file, and also import other style files */

ul.pagination {
  list-style: none;
  display: inline-block;
}

.pagination li {
  display: inline-block;
}

.pagination a {
  text-align: center;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination .active a {
  background-color: #4CAF50;
  color: white;
}

.pagination li:not(.active) a:hover {
  background-color: #ddd;
}

