/* Styles for ranking-table */
.ranking-table .table.extstats-table td,
.ranking-table .table.extstats-table tbody,
.ranking-table .table.extstats-table thead,
.ranking-table .table.extstats-table.table thead th {
  border-color: #e62565;
}
/* border colour lightened 60% with 0.5 alpha */
/* https://www.hexcolortool.com/#e52464 */
.ranking-table .table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: rgba(255, 190, 254, 0.5);
}
.ranking-table .table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: white;
}
.extstats-page-item.active {
  background-color: rgba(255, 190, 254, 0.5);
}
.extstats-table-controller {
  background-color: #e62565;
  color: black;
  border: 1px solid #e62565;
}
.extstats-table-controller a.extstats-page-link {
  color: black;
}
.ranking-table {
  margin-left: 16px;
  margin-right: 16px;
}
.ranking-table .table.extstats-table thead td,
.ranking-table .table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
.ranking-table th {
  background-color: #e62565;
  color: black;
}
.ranking-table div.extstats-doc button {
  border: solid 1px #e62565;
}
.ranking-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #e62565;
}
.ranking-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.ranking-table div.collapse {
  margin-top: 1rem;
}

