<div style="text-align:center">
  <h2>Ratings by Published Year</h2>
  <ratings-by-year-graph [data]="data$"></ratings-by-year-graph>

  <h2>Favourite Games by Published Year</h2>
  <faves-by-year-table [data]="data$"></faves-by-year-table>

  <h2>Rating by BGG Ranking</h2>
  <p>All rated games on BGG are allocated a square, from #1 in the top left.
    Games you have rated have their box coloured in with your rating for them.
  </p>
  <rating-by-ranking-graph [data]="data$"></rating-by-ranking-graph>
</div>


