<div id="favourites-table" class="favourites-table">
  <div class="extstats-doc">
    <extstats-button-group #buttongroup>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="doc">Documentation</button>
      <button type="button" class="btn table-button" [extstatsButtonGroup]="buttongroup" selector="charts">Charts</button>
    </extstats-button-group>

    <div id="favouritesTableCharts" *ngIf="buttongroup.selected === 'charts'">
      <button type="button" class="btn chart-button" *ngFor="let chart of chartSet.charts" [extstatsChart]="chart" [chartData]="data" [chartPane]="chartPane"></button>
    </div>

    <extstats-chartpane #chartPane></extstats-chartpane>

    <extstats-documentation id="favouritesTableDoc" *ngIf="buttongroup.selected === 'doc'" [src]="'/json/en/doc/favourites.json'">
    </extstats-documentation>
  </div>

  <div class="extstats-table-block">
    <mfTableController [table]="favouritesTable" [searchColumn]="'gameName'" [placeholder]="'game'"></mfTableController>
    <table class="table table-striped extstats-table" [mfData]="rows" #favouritesTable="mfDataTable" [mfRowsOnPage]="30" [mfSortBy]="'fhm'" [mfSortOrder]="'desc'">
      <thead>
      <tr>
        <th *ngFor="let column of columns"><mfDefaultSorter by="{{column.field}}" tooltip="{{column.tooltip}}">{{column.name}}</mfDefaultSorter></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of favouritesTable.data">
        <td *ngFor="let column of columns" title="{{column.valueTooltip(row)}}" [innerHtml]="column.valueHtml(row)"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

