<div class="extstats-navbar">
  <a class="navbar-button nav-wartable" href="">The War Table</a>
  <a class="navbar-button nav-ranking" href="">Ranking</a>
  <a class="navbar-button nav-yourpage" href="">Your Page</a>
  <a class="navbar-button nav-blog" href="">Blog</a>
  <a class="navbar-button nav-dataprot" href="">Data Protection</a>
  <a class="navbar-button nav-guild" href="">Guild</a>
  <a class="navbar-button nav-microbadge" href="https://www.boardgamegeek.com/microbadge/6964">Microbadge</a>
  <a class="navbar-button nav-microbadge" href="https://www.boardgamegeek.com/microbadge/33991">Friend Badge</a>
  <a class="navbar-button nav-github" href="https://github.com/DrFriendless/ExtendedStatsServerless">Github Project</a>
  <a class="navbar-button nav-patreon" href="https://www.patreon.com/drfriendless">Patreon</a>
</div>
