<div *ngIf="!username">
  <p>
    Extended Stats uses data from boardgamegeek.com. This data is available to everybody, without logging in.
    You don't need to log in to see your boardgame statistics.
    However there are advantages to logging in - the site will remember your BGG username and favourite page configurations and so on.
    If you would like to do that, please log in or sign up using the button on the right.
    You will then be able to use this page to configure your preferences.
  </p>
</div>

<div class="user-config-form" *ngIf="!!username">
  <form #userForm="ngForm">
    <p>This is your BGG user name. In case you use multiple accounts, enter them all so you will be able to switch between them easily.
      If your BGG username is not here, please PM Friendless on BGG to be added to the list.
    </p>
    <geek-combo (geekChosen)="geekchips.addGeek($event)" [placeholder]="'BGG User Name'"></geek-combo>
    <geek-chips #geekchips [editable]="true" [geeks]="geekids"></geek-chips>

    <h4>Buddy Groups</h4>
    <p>These are your buddy groups, which are groups of people that you will be able to compare with each other.</p>
    <div fxLayout="column" fxLayoutGap="32px">
      <buddy-set-editor *ngFor="let buddies of buddyGroups" [buddies]="buddies" (edited)="buddiesChanged($event)"></buddy-set-editor>
    </div>
    <button type="button" class="extstats-button" (click)="more()" style="margin: 20px">Another Buddy Group</button>
  </form>

  <div>
    <a name="personal"><h4>Your Personal Data</h4></a>
    <p>This is the data which Extended Stats stores about you.</p>
    <mat-form-field class="input-full-width" style="display: block;">
    <textarea matInput class="personal-data" readonly [rows]="8" class="input-full-width">
      {{personalData.toString()}}
    </textarea>
    </mat-form-field>
  </div>
</div>

<button type="button" class="extstats-button" (click)="refresh()">Refresh</button>
<button type="button" class="extstats-button" (click)="save()">Save</button>
