.extstats-button {
  background: #9575cd;
  color: white;
  margin: 2px;
  border: 2px transparent solid;
  width: auto;
  height: 24px;
}
.extstats-button:hover {
  border: 2px black solid;
}
.extstats-button:disabled {
  background: #aaaaaa;
}

