<div class="system-stats">
    <ul>
      <li>There are {{stats.userRows}} users in the database.</li>
      <li>There are {{stats.gameRows}} games in the database.</li>
      <li>There are {{stats.geekGamesRows}} games in collections.</li>
    </ul>
  <table>
    <thead><td>Method</td><td>Total</td><td>Waiting</td><td>Unprocessed</td></thead>
    <tr *ngFor="let row of stats.fileRows">
      <td>{{row.type}}</td>
      <td>{{row.count}}</td>
      <td>{{row.waiting}}</td>
      <td>{{row.unprocessed}}</td>
    </tr>
  </table>
</div>
