<div class="system-stats">
    <ul>
      <li>There are {{stats.userRows}} users in the database.</li>
      <li>There are {{stats.gameRows}} games in the database.</li>
      <li>There are {{stats.geekGamesRows}} games in collections.</li>
      <li>There are {{stats.notGames}} games noted as not actually existing.</li>
      <li>There are {{stats.ggForZero}} geek games with a bad geek ID, and {{stats.distinctGGOwners}} correct geek IDs in geekgames.</li>
      <li>There are {{stats.categories}} categories and {{stats.gameCategories}} categories allocated to games.</li>
      <li>There are {{stats.mechanics}} mechanics and {{stats.gameMechanics}} mechanics allocated to games.</li>
    </ul>
  <table>
    <thead><td>Method</td><td>Total</td><td>Waiting</td><td>Unprocessed</td></thead>
    <tr *ngFor="let row of stats.fileRows">
      <td>{{row.type}}</td>
      <td>{{row.existing}}</td>
      <td>{{row.waiting}}</td>
      <td>{{row.unprocessed}}</td>
    </tr>
  </table>
</div>
