<div class="favourites-table" *ngIf="!!rows">

  <div class="extstats-doc">
    <button type="button" class="btn table-button" (click)="toggle('doc')">Documentation</button>
    <button type="button" class="btn table-button" (click)="toggle('charts')">Charts</button>

    <div id="favouritesTableCharts" [ngbCollapse]="chartsCollapsed">
      <button type="button" class="btn chart-button" *ngFor="let chart of chartSet.charts" [extstatsChart]="chart" [chartData]="data" [chartPane]="chartPane"></button>
    </div>

    <extstats-chartpane #chartPane></extstats-chartpane>

    <div id="favouritesTableDoc" [ngbCollapse]="docCollapsed">
      <ngb-tabset>
        <ngb-tab title="Friendless Happiness Metric">
          <ng-template ngbTabContent>
            <!--(!gg.rating) ? undefined : Math.floor((gg.rating * 5 + gp.plays + gp.distinctMonths * 4 + hoursPlayed) * 10) / 10;-->
            <p>This metric attempts to assess how much you love this game. It's RATING * 5 + PLAYS + MONTHS PLAYED IN * 4 + HOURS PLAYED.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Huber Happiness Metric">
          <ng-template ngbTabContent>
            <!--(!gg.rating) ? undefined : Math.floor((gg.rating - HUBER_BASELINE) * hoursPlayed);-->
            <p>This metric also attempts to assess how much you love this game. It's (RATING - 4.5) * HOURS PLAYED. </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Huber Heat">
          <ng-template ngbTabContent>
            <!--const s = 1 + ly.plays / gp.plays;-->
            <!--const lyHours = ly.plays * game.playTime / 60;-->
            <!--const lyHappiness = (gg.rating - HUBER_BASELINE) * lyHours;-->
            <!--huberHeat = s * s * Math.sqrt(ly.plays) * lyHappiness;-->
            <!--huberHeat = Math.floor(huberHeat * 10) / 10;-->
            <p>The Huber Heat metric attempts to assess how much you love this game right now. It's complicated.
              Let S be 1 + (PLAYS IN THE LAST YEAR) / (PLAYS EVER).
              Let LAST YEAR HAPPINESS be (RATING - 4.5) * HOURS PLAYED IN THE LAST YEAR.
              Then the Huber Heat is S^2 * sqrt(PLAYS IN THE LAST YEAR) * LAST YEAR HAPPINESS.
            </p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Randy Cox Not Unhappiness Metric">
          <!--const firstDate = FavouritesComponent.intToDate(gp.firstPlay);-->
          <!--const lastDate = FavouritesComponent.intToDate(gp.lastPlay);-->
          <!--const flash = FavouritesComponent.daysBetween(lastDate, firstDate);-->
          <!--const lag = FavouritesComponent.daysBetween(new Date(), lastDate);-->
          <!--const flmr = flash / lag * gp.distinctMonths * gg.rating;-->
          <!--const log = (flmr < 1) ? 0 : Math.log(flmr);-->
          <!--ruhm = Math.round(log * 100) / 100;-->
          <ng-template ngbTabContent>
            <p>The Randy Cox Not Unhappiness Metric attempts to assess not how much you love this game, but how much you don't hate it.
              Let FL be (days between your first and last plays of it) divided by (days since you last played it).
              Let FLMR be FL times the number of months you've played it in times your rating.
              Then if that's less than 1, R!UHM is zero (which penalises games you've played recently), otherwise it's log(FLMR).
              So R!UHM is high for games you've been playing for a long time and still rate highly.
            </p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <table class="table table-striped extstats-table" [mfData]="rows" #favouritesTable="mfDataTable" [mfRowsOnPage]="30" [mfSortBy]="'fhm'" [mfSortOrder]="'desc'">
    <thead>
    <tr>
      <th><mfDefaultSorter by="gameName">Game</mfDefaultSorter></th>
      <th><mfDefaultSorter by="rating" tooltip="Your rating for this game.">Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="plays" tooltip="The number of times you have played this game.">Plays</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRanking" tooltip="This game's ranking on BoardGameGeek.">BGG Ranking</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRating" tooltip="This game's rating on BoardGameGeek.">BGG Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="firstPlayed" tooltip="First date you played this game.">First Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="lastPlayed" tooltip="Last date you played this game.">Last Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="monthsPlayed" tooltip="Months in which you have played this game.">Months Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hoursPlayed" tooltip="Hours for which you have played this game.">Hours Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="fhm" tooltip="Friendless Happiness Metric">FHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hhm" tooltip="Huber Happiness Metric">HHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="huberHeat" tooltip="Huber Heat">Huber Heat</mfDefaultSorter></th>
      <th><mfDefaultSorter by="ruhm" tooltip="Randy Cox Not Unhappiness Metric">R!UHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="yearPublished" tooltip="The year in which this game was first published.">Year Published</mfDefaultSorter></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of favouritesTable.data">
      <td><a href="https://boardgamegeek.com/boardgame/{{row.game}}">{{row.gameName}}</a></td>
      <td>{{row.rating}}</td>
      <td>{{row.plays}}</td>
      <td>{{row.bggRanking}}</td>
      <td>{{row.bggRating}}</td>
      <td>{{row.firstPlayed}}</td>
      <td>{{row.lastPlayed}}</td>
      <td>{{row.monthsPlayed}}</td>
      <td>{{row.hoursPlayed}}</td>
      <td>{{row.fhm}}</td>
      <td>{{row.hhm}}</td>
      <td>{{row.huberHeat}}</td>
      <td>{{row.ruhm}}</td>
      <td>{{row.yearPublished}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[20,30,50]" [mfTable]="warTable"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

