<div class="favourites-table" *ngIf="!!rows">

  <div class="extstats-doc">
    <button type="button" class="btn" (click)="docCollapsed = !docCollapsed" [attr.aria-expanded]="!docCollapsed" aria-controls="collapseExample">
      Documentation
    </button>

    <div id="favouritesTableDoc" [ngbCollapse]="docCollapsed">
      <ngb-tabset>
        <ngb-tab title="Friendless Happiness Metric">
          <ng-template ngbTabContent>
            <p>The Spiel des Jahre (German Game of the Year) is an annual prize awarded since 1978. This metric is how many SdJ winners the geek has played.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Huber Happiness Metric">
          <ng-template ngbTabContent>
            <p>The Spiel des Jahre (German Game of the Year) is an annual prize awarded since 1978. This metric is how many SdJ winners the geek has played.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Huber Heat">
          <ng-template ngbTabContent>
            <p>The Spiel des Jahre (German Game of the Year) is an annual prize awarded since 1978. This metric is how many SdJ winners the geek has played.</p>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Randy Cox Not Unhappiness Metric">
          <ng-template ngbTabContent>
            <p>The Spiel des Jahre (German Game of the Year) is an annual prize awarded since 1978. This metric is how many SdJ winners the geek has played.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <table class="table table-striped extstats-table" [mfData]="rows" #favouritesTable="mfDataTable" [mfRowsOnPage]="30" [mfSortBy]="'gameName'" [mfSortOrder]="'asc'">
    <thead>
    <tr>
      <th><mfDefaultSorter by="gameName">Game</mfDefaultSorter></th>
      <th><mfDefaultSorter by="rating" tooltip="Your rating for this game.">Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="plays" tooltip="The number of times you have played this game.">Plays</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRanking" tooltip="This game's ranking on BoardGameGeek.">BGG Ranking</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRating" tooltip="This game's rating on BoardGameGeek.">BGG Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="firstPlayed" tooltip="First date you played this game.">First Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="lastPlayed" tooltip="Last date you played this game.">Last Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="monthsPlayed" tooltip="Months in which you have played this game.">Months Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hoursPlayed" tooltip="Hours for which you have played this game.">Hours Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="fhm" tooltip="Friendless Happiness Metric">FHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hhm" tooltip="Huber Happiness Metric">HHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="huberHeat" tooltip="Huber Heat">Huber Heat</mfDefaultSorter></th>
      <th><mfDefaultSorter by="ruhm" tooltip="Randy Cox Not Unhappiness Metric">R!UHM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="yearPublished" tooltip="The year in which this game was first published.">Year Published</mfDefaultSorter></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of favouritesTable.data">
      <td><a href="https://boardgamegeek.com/boardgame/{{row.game}}">{{row.gameName}}</a></td>
      <td>{{row.rating}}</td>
      <td>{{row.plays}}</td>
      <td>{{row.bggRanking}}</td>
      <td>{{row.bggRating}}</td>
      <td>{{row.firstPlayed}}</td>
      <td>{{row.lastPlayed}}</td>
      <td>{{row.monthsPlayed}}</td>
      <td>{{row.hoursPlayed}}</td>
      <td>{{row.fhm}}</td>
      <td>{{row.hhm}}</td>
      <td>{{row.huberHeat}}</td>
      <td>{{row.ruhm}}</td>
      <td>{{row.yearPublished}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[20,30,50]" [mfTable]="warTable"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

