<div class="favourites-table" *ngIf="!!rows">

  <div class="extstats-doc">
    <button type="button" class="btn" (click)="docCollapsed = !docCollapsed" [attr.aria-expanded]="!docCollapsed" aria-controls="collapseExample">
      Documentation
    </button>

    <div id="favouritesTableDoc" [ngbCollapse]="docCollapsed">
      <ngb-tabset>
        <ngb-tab title="Spiel des Jahre">
          <ng-template ngbTabContent>
            <p>The Spiel des Jahre (German Game of the Year) is an annual prize awarded since 1978. This metric is how many SdJ winners the geek has played.</p>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>

  <table class="table table-striped extstats-table" [mfData]="rows" #favouritesTable="mfDataTable" [mfRowsOnPage]="30" [mfSortBy]="'gameName'" [mfSortOrder]="'asc'">
    <thead>
    <tr>
      <th><mfDefaultSorter by="gameName">Game</mfDefaultSorter></th>
      <th><mfDefaultSorter by="rating" tooltip="Your rating for this game.">Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="plays" tooltip="The number of times you have played this game.">Plays</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRanking" tooltip="This game's ranking on BoardGameGeek.">BGG Ranking</mfDefaultSorter></th>
      <th><mfDefaultSorter by="bggRating" tooltip="This game's rating on BoardGameGeek.">BGG Rating</mfDefaultSorter></th>
      <th><mfDefaultSorter by="firstPlayed" tooltip="First date you played this game.">First Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="lastPlayed" tooltip="Last date you played this game.">Last Played</mfDefaultSorter></th>
      <th><mfDefaultSorter by="trade" tooltip="Number of games this geek has for trade">For Trade</mfDefaultSorter></th>
      <th><mfDefaultSorter by="sdj" tooltip="Number of different Spiel des Jahre winners played">Spiel des Jahre</mfDefaultSorter></th>
      <th><mfDefaultSorter by="top50" tooltip="Number of different games in the BGG Top 50 played">BGG Top 50</mfDefaultSorter></th>
      <th><mfDefaultSorter by="ext100" tooltip="Number of different games in the Extended Stats Top 100 played">Ext Stats Top 100</mfDefaultSorter></th>
      <th><mfDefaultSorter by="prevOwned" tooltip="Number of games previously owned by this geek">Prev Owned</mfDefaultSorter></th>
      <th><mfDefaultSorter by="friendless" tooltip="Friendless Metric for this geek">Friendless</mfDefaultSorter></th>
      <th><mfDefaultSorter by="cfm" tooltip="Continuous Friendless Metric for this geek">CFM</mfDefaultSorter></th>
      <th><mfDefaultSorter by="zeros" tooltip="Number of games this geek owns that they have played 0 times">0s</mfDefaultSorter></th>
      <th><mfDefaultSorter by="tens" tooltip="Number of games this geek owns that they have played 10+ times">10s</mfDefaultSorter></th>
      <th><mfDefaultSorter by="hindex" tooltip="This geek's H-Index">H-Index</mfDefaultSorter></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of favouritesTable.data">
      <td><a href="https://boardgamegeek.com/boardgame/{{row.game}}">{{row.gameName}}</a></td>
      <td>{{row.rating}}</td>
      <td>{{row.plays}}</td>
      <td>{{row.bggRanking}}</td>
      <td>{{row.bggRating}}</td>
      <td>{{row.firstPlayed}}</td>
      <td>{{row.lastPlayed}}</td>
      <td>{{row.sdj}}</td>
      <td>{{row.top50}}</td>
      <td>{{row.ext100}}</td>
      <td>{{row.prevOwned}}</td>
      <td>{{row.friendless}}</td>
      <td>{{row.cfm}}</td>
      <td>{{row.zeros}}</td>
      <td>{{row.tens}}</td>
      <td>{{row.hindex}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">
        <mfBootstrapPaginator [rowsOnPageSet]="[20,30,50]" [mfTable]="warTable"></mfBootstrapPaginator>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

