<div style="overflow-x:auto">
  <table id="faqtable">
    <thead>
    <tr>
      <td width="30px" class="faqdarkblue">Index</td>
      <td width="600px" class="faqdarkblue">FAQ</td>
      <td colspan="5" class="faqdarkpink">Number of Times This Question Has Been Consulted</td>
    </tr>
    <tr>
      <td class="faqblue"></td><td class="faqblue"></td>
      <td width="50px" class="faqpink">Today</td>
      <td width="50px" class="faqpink">Last Week</td>
      <td width="50px" class="faqpink">Last Month</td>
      <td width="50px" class="faqpink">Last Year</td>
      <td width="50px" class="faqpink">Ever</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let faq of faqs">
      <td>{{faq.index}}</td>
      <td class="question" (click)="toggle(faq.index)">
        <span class="faqhead">{{faq.head}}</span>
        <div *ngIf="selected === faq.index" [innerHTML]="faq.body"></div>
      </td>
      <td>{{getCount(faq.index, "day")}}</td>
      <td>{{getCount(faq.index, "week")}}</td>
      <td>{{getCount(faq.index, "month")}}</td>
      <td>{{getCount(faq.index, "year")}}</td>
      <td>{{getCount(faq.index, "ever")}}</td>
    </tr>
    </tbody>
  </table>
</div>
