.all-plays-table {
  border-collapse: collapse;
}
.all-plays-table td {
  border: 1px solid black;
  padding-left: 4px;
  padding-right: 4px;
}
.expandable:hover {
  background-color: #FFFFE7;
}


/* Styles for plays tables */
.plays-table .table.extstats-table td,
.plays-table .table.extstats-table tbody,
.plays-table .table.extstats-table thead,
.plays-table .table.extstats-table.table thead th {
  border-color: #8cc152;
}
/* border colour lightened 60% with 0.5 alpha */
/* https://www.hexcolortool.com/#e52464 */
.plays-table .table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: rgba(242, 255, 184, 0.5);
}
.plays-table .table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: white;
}
.extstats-page-item.active {
  background-color: rgba(242, 255, 184, 0.5);
}
.extstats-table-controller {
  background-color: #8cc152;
  color: black;
  border: 1px solid #8cc152;
}
.extstats-table-controller a.extstats-page-link {
  color: black;
}
.plays-table {
  margin-left: 16px;
  margin-right: 16px;
}
.plays-table .table.extstats-table thead td,
.plays-table .table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
.plays-table th {
  background-color: #8cc152;
  color: black;
}
.plays-table div.extstats-doc button {
  border: solid 1px #8cc152;
}
.plays-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #8cc152;
}
.plays-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.plays-table div.collapse {
  margin-top: 1rem;
}

