<!DOCTYPE html>
<html lang="en">

<head>
    {{> gtmhead}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="theme.css">

    <title>DrFriendless.com</title>
</head>

<body>
{{> gtmbody}}
<h1>DrFriendless.com</h1>
www.drfriendless.com is not really a thing yet.
I have in mind that one day this site will be more than just various implementations of board game statistics sites.
Maybe try:
<ul>
    <li><a href="http://extstats.drfriendless.com">Extended Stats v2</a></li>
    <li><a href="http://blog.drfriendless.com">The Extended Stats Blog</a></li>
</ul>
</body>

</html>