#faqtable, #faqtable th, #faqtable td {
  border: 1px solid black;
}
#faqtable {
  border-collapse: collapse;
}
#faqtable thead td {
  font-weight: bold;
}
#faqtable .question .faqhead {
  font-weight: bolder;
  font-style: italic;
}
.faqpink {
  background: lightpink;
}
.faqblue {
  background: lightskyblue;
}
.faqdarkblue {
  background: dodgerblue;
}
.faqdarkpink {
  background: deeppink;
}
#faqtable tbody td.question {
  padding: 4px;
}
#faqtable tbody td.question:hover {
  background: lightskyblue;
}
#faqtable tbody td:not(.question) {
  text-align: center;
}
span.faqhead {
  font-size: 16px;
  line-height: 28px;
}
