/* Styles for war-table */
.extstats-page-item.active {
  background-color: rgba(255, 232, 255, 0.5);
}
.extstats-table-controller {
  background-color: #673fb4;
  color: white;
}
.extstats-table-controller a.extstats-page-link {
  color: white;
}
.war-table {
  margin-left: 16px;
  margin-right: 16px;
}
.war-table .table.extstats-table thead td,
.war-table .table.extstats-table tbody td {
  border-right-width: 0;
  border-left-width: 0;
}
.war-table th {
  background-color: #673fb4;
  color: white;
}
.extstats-table-controller {
  border: 1px solid #673fb4;
}

.war-table table.extstats-table td,
.war-table table.extstats-table tbody,
.war-table table.extstats-table thead,
.war-table table.extstats-table.table thead th {
  border-color: #673fb4;
}
/* border colour lightened 60% with 0.5 alpha */
.war-table table.table-striped.extstats-table tbody tr:nth-child(even){
  background-color: rgba(255, 232, 255, 0.5);
}
.war-table table.table-striped.extstats-table tbody tr:nth-child(odd){
  background-color: white;
}

.war-table div.extstats-doc button {
  border: solid 1px #4054b2;
}
.war-table div.extstats-doc li.nav-item a.nav-link.active {
  color: #4054b2;
}
.war-table div.extstats-doc li.nav-item a.nav-link {
  color: #777777;
  font-size: 14px;
  border-radius: unset;
}
.war-table div.collapse {
  margin-top: 1rem;
}

