<td class="expandable" *ngIf="model.yearHeader" [attr.rowspan]="model.yearSpan" (click)="toggle(model.year)">
  {{model.year}} ({{model.yearPlays}} plays, {{model.yearDistinct}} different games, {{model.yearDates}} days)
</td>
<td class="expandable" *ngIf="model.monthHeader" [attr.rowspan]="model.monthSpan" (click)="toggle(model.monthKey)">
  {{model.month}} ({{model.monthPlays}} plays, {{model.monthDistinct}} different games, {{model.monthDates}} days)
</td>
<td class="expandable" *ngIf="model.dateShown" (click)="toggle(model.dateKey)">
  {{model.date}} ({{model.datePlays}} plays, {{model.dateDistinct}} different games)
  <div *ngIf="model.dateExpanded">
    <ul>
      <li *ngFor="let play of model.plays"><a href="https://boardgamegeek.com/boardgame/{{play.gameId}}">{{play.gameName}}</a> x {{play.quantity}}</li>
    </ul>
  </div>
</td>
