<script src="loginWidget/runtime.js" type="text/javascript"></script>
<script src="loginWidget/polyfills.js" type="text/javascript"></script>
<script src="loginWidget/main.js" type="text/javascript"></script>
