<div role="navigation" class="extstats-navbar">
    <a href="/"><img src="/img/go.png" height="28px"></a>
    <a class="navbar-button nav-wartable" href="/wartable.html">War Table</a>
    <a class="navbar-button nav-ranking" href="/rankings.html">Rankings</a>
    <a class="navbar-button nav-blog" href="http://blog.drfriendless.com">Blog</a>
    <a class="navbar-button nav-dataprot" href="/dataprotection.html">Privacy</a>
    <a class="navbar-button nav-guild" href="https://boardgamegeek.com/guild/2938">Guild</a>
    <a class="navbar-button nav-microbadge1" href="https://www.boardgamegeek.com/microbadge/6964">Microbadge</a>
    <a class="navbar-button nav-microbadge2" href="https://www.boardgamegeek.com/microbadge/33991">Friends</a>
    <a class="navbar-button nav-github" href="https://github.com/DrFriendless/ExtendedStatsServerless">Github</a>
    <a class="navbar-button nav-github" href="https://www.patreon.com/drfriendless">Patreon</a>
</div>
<style>
    .extstats-navbar {
        margin: 4px 0;
    }
    .extstats-navbar .navbar-button {
        border: 2px transparent solid;
        margin: 2px;
        padding: auto;
        height: 28px;
        width: 90px;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        text-align: center;
    }
    .extstats-navbar .navbar-button:hover {
        border: 2px black solid;
    }
    .extstats-navbar .nav-wartable {
        background-color: #673fb4;
        color: white;
    }
    .extstats-navbar .nav-ranking {
        background-color: #e62565;
        color: white;
    }
    .extstats-navbar .nav-blog {
        background-color: #159588;
        color: black;
    }
    .extstats-navbar .nav-dataprot {
        background-color: #159588;
        color: black;
    }
    .extstats-navbar .nav-guild {
        background-color: #cdda49;
        color: black;
    }
    .extstats-navbar .nav-microbadge1 {
        background-color: #fee94e;
        color: black;
    }
    .extstats-navbar .nav-microbadge2 {
        background-color: #fdc02f;
        color: black;
    }
    .extstats-navbar .nav-github {
        background-color: #fd9727;
        color: black;
    }
    .extstats-navbar .nav-github {
        background-color: #fc5830;
        color: white;
    }
</style>
