<div class="extstats-navbar">
    <a class="navbar-button nav-wartable" href="/wartable.html">The War Table</a>
    <a class="navbar-button nav-ranking" href="/rankings.html">Ranking</a>
    <a class="navbar-button nav-blog" href="http://blog.drfriendless.com">Blog</a>
    <a class="navbar-button nav-dataprot" href="/dataprotection.html">Data Protection</a>
    <a class="navbar-button nav-guild" href="https://boardgamegeek.com/guild/2938">Guild</a>
    <a class="navbar-button nav-microbadge1" href="https://www.boardgamegeek.com/microbadge/6964">Microbadge</a>
    <a class="navbar-button nav-microbadge2" href="https://www.boardgamegeek.com/microbadge/33991">Friend Badge</a>
    <a class="navbar-button nav-github" href="https://github.com/DrFriendless/ExtendedStatsServerless">Github Project</a>
    <a class="navbar-button nav-github" href="https://www.patreon.com/drfriendless">Patreon</a>
</div>
<style>
    .extstats-navbar .navbar-button {
        border-width: 2px;
        border-style: solid;
        padding: 2px;
    }
    .extstats-navbar .nav-wartable {
        border-color: #673fb4;
    }
    .extstats-navbar .nav-ranking {
        border-color: #e62565;
    }
    .extstats-navbar .nav-blog {
        border-color: #2c992d;
    }
    .extstats-navbar .nav-dataprot {
        border-color: #8cc152;
    }
    .extstats-navbar .nav-guild {
        border-color: #cdda49;
    }
    .extstats-navbar .nav-microbadge1 {
        border-color: #fee94e;
    }
    .extstats-navbar .nav-microbadge2 {
        border-color: #fdc02f;
    }
    .extstats-navbar .nav-github {
        border-color: #fd9727;
    }
    .extstats-navbar .nav-github {
        border-color: #fc5830;
    }
</style>
